.pageContainer {
  max-width: 400px;
  margin: 5rem auto;
  padding: 2rem;
  background-color: #fff;
  color: black;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form label {
  font-weight: bold;
}

.form input {
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: white;
  color: black;
}

.form button {
  padding: 0.8rem;
  border: none;
  background-color: #007bff;
  color: white;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.4s ease;
}

.form button:hover {
  background-color: green;
  scale: 1.05;
}
