/* Overlay escuro atrás do menu */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
}

/* Container principal do menu mobile */
.mobileMenu {
  position: fixed;
  color: #007bff;
  top: 0;
  right: 0;
  width: 40%;
  height: 90%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 2rem 1.5rem;
  gap: 2rem;
  z-index: 100;
  transform: translateX(0);
  transition: transform 0.3s ease;
}

.darkMenu {
  background-color: black;
  color: white;
  box-shadow: 0 4px 8px rgba(250, 250, 250);
}


/* Animação para sair */
.slideOut {
  transform: translateX(100%);
}

/* Botão de fechar */
.closeButton {
  background: transparent;
  border: none;
  font-size: 2rem;
  align-self: flex-end;
  cursor: pointer;
}

/* Links de navegação */
.navLinks {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1.0rem;
}

.navLink {
  font-size: 1.2rem;
  text-decoration: none;
  color: #007bff;
}


/* Botões de Login e Cadastro */
.menuCtas {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-top: auto;
}

.login, .signup {
  text-align: center;
  padding: 0.8rem;
  border-radius: 8px;
  font-size: 1.2rem;
  text-decoration: none;
}

/* Botão Login */
.login {
  color: #007bff;
  border: 1px solid #007bff;
}

/* Botão Cadastro */
.signup {
  background-color: #007bff;
  color: white;
}

.closeButton {
  font-size: 2rem;
  background: none;
  border: none;
  align-self: flex-end;
  cursor: pointer;
}


/* Botão de trocar tema no menu */
.themeToggle {
  background: transparent;
  border: 2px solid #007bff;
  color: #007bff;
  padding: 0.8rem 1rem;
  border-radius: 8px;
  font-size: 1.4rem;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  text-align: center;
}

.themeToggle:hover {
  background-color: #007bff;
  color: white;
}

/* Se quiser mudar no dark mode */
.dark .themeToggle {
  border-color: #90cdf4;
  color: #90cdf4;
}

.dark .themeToggle:hover {
  background-color: #90cdf4;
  color: #2a2a2a;
}
